@using Microsoft.AspNetCore.SignalR.Client

<h2>Chat with us</h2>
<hr />

<div class="mb-3">
    <label class="form-label" for="name">Name: </label>
    <input class="form-control" />
</div>
<div class="mb-3">
    <label class="form-label" for="name">Message: </label>
    <textarea class="form-control" size="50" />
</div>
<button class="btn btn-info float-end">Send</button>
<div class="clearfix"></div>
